extends head-chart 

block layout-content
  div.View.WelcomeView2
    h1.Banner #{title}
    div.Message
        <div id="series_chart_div" style="width: 900px; height: 500px;"></div>
    
    script.
        var dataImport = !{JSON.stringify(projectsData2).replace(/<\//g, "<\\/")}

    script
        include ../chart.js
   
    ul.NavButtons
        a(href="/")
            span.NavButton= "Sonar"

        a(href="/bugs")
            span.NavButton= "Bugs Chart"


