ul.NavButtons
    a(href="/")
        span.NavButton= "Sonar"

    a(href="/chart")
        span.NavButton= "Sonar Risk"

    a(href="/effort")
        span.NavButton= "Sonar Effort"

    a(href="/bugs")
        span.NavButton= "Bugs"